<p id="notice"><%= notice %></p>

<h1>Instagraming</h1>
  <p>
    <strong>  <%=current_user.username%> Posts:  <%= current_user.posts.count  %> Following:  <%= current_user.followees_count  %>  </strong>
  </p>

<% @posts.each do |post| %>     
    <p>
      <br>
      <strong>Title:</strong>
      <%= post.title %>
    </p>
    
    <p>
      <strong>Description:</strong>
      <%= post.description %>
    </p>
    
    <p>
      <%= image_tag post.image.thumb.url %>
    </p>
      
      <%= link_to 'Show', post %>
      <% if current_user.id == post.user.id %>  
            <%= link_to 'Edit', edit_post_path(post) %>    
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      
    
    <% end %>


<br>

<%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
