<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br/>
  <div id="container">
  <div id="user_nav">
  <% if current_user %>
  logged in as <%=current_user.email%>
  <%= link_to "logout", logout_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "signup", signup_path, class: "btn btn-primary"%> or
    <%= link_to "login", login_path, class: "btn btn-primary" %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

    <%= yield %>
</div>
  </body>
</html>
